In [1]:
import numpy as np
np.random.seed(1)

In [2]:
import openpyxl

wookbook1 = openpyxl.load_workbook("/Users/ayanryskulov/Documents/hackaton/boolean.xlsx")
worksheet1 = wookbook1.active
boolean_input_data = []
boolean_result = []
row_num = 70

for i in range(0, row_num):
    count = 0
    input_row = []
    for col in worksheet1.iter_cols(0, worksheet1.max_column):
        if count < 4:
            input_row.append(col[i].value)
            count += 1
        else:
            boolean_result.append(col[i].value)
    boolean_input_data.append(input_row)

In [3]:
def relu(x):
    return (x > 0) * x

def relu2deriv(output): 
    return output > 0 
alpha = 0.2 
hidden_size = 5

In [4]:
data = np.array(boolean_input_data)
result = np.array(boolean_result).T

In [5]:
weights_0_1 = 2 * np.random.random((4, hidden_size)) - 1 
weights_1_2 = 2 * np.random.random((hidden_size, 1)) - 1

In [6]:
for iteration in range(60): 
    layer_2_error = 0
    
    for i in range(len(data)):
        layer_0 = data[i:i+1]
        layer_1 = relu(np.dot(layer_0, weights_0_1)) 
        layer_2 = np.dot(layer_1, weights_1_2)
        layer_2_error += np.sum((layer_2 - result[i:i+1]) ** 2)
        layer_2_delta = (layer_2 - result[i:i+1]) 
        layer_1_delta = layer_2_delta.dot(weights_1_2.T) * relu2deriv(layer_1)
        weights_1_2 -= alpha * layer_1.T.dot(layer_2_delta) 
        weights_0_1 -= alpha * layer_0.T.dot(layer_1_delta)
    
    if(iteration % 10 == 9):
        print("Error: " + str(layer_2_error))

Error: 0.14948760082589302
Error: 0.006164071302775209
Error: 0.00017268784467731213
Error: 4.1799811148141805e-06
Error: 1.0717509599644283e-07
Error: 2.6682826853018958e-09

In [11]:
result_g = []
for i in range(70):
    test = np.array(boolean_input_data[i])
    layer_0 = test
    layer_1 = np.dot(layer_0, weights_0_1) 
    layer_1 = relu(layer_1)
    layer_2 = np.dot(layer_1, weights_1_2)
    if layer_2 > 0.5:
        result = True
    else:
        result = False
    result_g.append(result)

In [15]:
import pandas as pd

df = pd.DataFrame({'Actual': boolean_result, 'Predicted': result_g})
df

    Actual  Predicted
0     True       True
1     True       True
2    False      False
3     True       True
4    False      False
..     ...        ...
65    True       True
66    True       True
67   False      False
68   False      False
69    True       True

[70 rows x 2 columns]

In [16]:
boolean_input_new_data = []

for i in range(row_num, 100):
    count = 0
    input_row = []
    for col in worksheet1.iter_cols(0, worksheet1.max_column):
        if count < 4:
            input_row.append(col[i].value)
            count += 1
    boolean_input_new_data.append(input_row)

In [21]:
result_new_data = []
for i in range(len(boolean_input_new_data)):
    test = np.array(boolean_input_new_data[i])
    layer_0 = test
    layer_1 = np.dot(layer_0, weights_0_1) 
    layer_1 = relu(layer_1)
    layer_2 = np.dot(layer_1, weights_1_2)
    if layer_2 > 0.5:
        result = True
    else:
        result = False
    result_new_data.append(result)

In [22]:
df = pd.DataFrame({'Input data': boolean_input_new_data, 'Result': result_new_data})
df

      Input data  Result
0   [1, 0, 1, 0]    True
1   [0, 0, 1, 1]   False
2   [0, 1, 0, 1]   False
3   [0, 1, 1, 0]   False
4   [1, 0, 0, 0]    True
5   [0, 1, 1, 1]   False
6   [0, 1, 1, 1]   False
7   [1, 1, 0, 0]    True
8   [1, 1, 0, 1]   False
9   [0, 0, 0, 1]   False
10  [0, 0, 1, 1]   False
11  [0, 0, 1, 1]   False
12  [0, 0, 1, 0]    True
13  [0, 1, 1, 1]   False
14  [0, 1, 0, 1]   False
15  [1, 1, 1, 0]   False
16  [1, 1, 1, 1]   False
17  [0, 0, 0, 0]   False
18  [0, 1, 0, 0]    True
19  [0, 1, 1, 0]   False
20  [1, 1, 0, 0]    True
21  [0, 1, 0, 0]    True
22  [0, 1, 1, 0]   False
23  [0, 1, 1, 1]   False
24  [0, 1, 0, 0]    True
25  [0, 0, 1, 1]   False
26  [0, 0, 1, 1]   False
27  [0, 0, 1, 0]    True
28  [0, 0, 0, 0]   False
29  [0, 0, 1, 0]    True

In [33]:
count = 0
for i in range(71, 100):
    num_cell = 'E%s' % i
    worksheet1[num_cell] = bool(result_new_data[count])
    count +=1 
wookbook1.save("/Users/ayanryskulov/Documents/hackaton/boolean.xlsx")